*{
    padding: 0;
    margin: 0;
    cursor: crosshair;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Azeret Mono', monospace;
}
nav{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
}

.nav-txt{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
}

.nav-txt a{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(#825fe9, #825fe9);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out, color 0.3s;
}

.nav-txt a:hover, .nav-txt a:active, .nav-txt a:focus{
    color: #b5b5b5;
    background-size: 100% 0.1em;
}
.bg{
    width: 100%;
    height: 800px;
    background-color: #fffafa;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bg-prj{
    display: flex;
    width: 100%;
    height: auto;
    background-color: #fffafa;
    flex-direction: column;
}
.bg-ovr{
    width: 100%;
    height: auto;
    background-color: #fffafa;
    display: flex;
    flex-direction: column;
}
.namebox{
    width: 20%;
    height: 200px;
    font-size: 40px;
    padding-right: 200px;
    color: black;
}
.name{
    font-weight: 100;
}
.smallinfo{
    display: flex;
    width: 25%;
    height: 200px;
    color: black;
    flex-direction: column;
    justify-content: space-around; 
}
#smallinfo{
    font-weight: 100;
    font-size: 25px;
}
#moreinfo{
    display: flex;
    font-size: 25px;
    text-decoration: none;
    color: black;
    background-image: linear-gradient(#825fe9, #825fe9);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out, color 0.3s;
}
#moreinfo:hover{
    background-size: 65% 0.1em;
}
.footer{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.email-txt{
    width: 20%;
    height: 20px;
    margin-left: 30px;
}
#email{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#825fe9, #825fe9);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out, color 0.3s;
}

#email:hover{
    color: #b5b5b5;
    background-size: 100% 0.1em;
}
#tel{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#825fe9, #825fe9);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out, color 0.3s;
}

#tel:hover{
    color: #b5b5b5;
    background-size: 100% 0.1em;
}
.project-title-box, .ovr-title-box, .contact-title-box{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.project-title, .ovr-title, .contact-title{
    color: black;
    font-size: 50px;
}
.project-box{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.project-desc-box{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.project-left{
    display: flex;
    flex-direction: row-reverse
}
.project-right{
    display: flex;
    flex-direction: row;
}
.project-name{
    color: black;
    font-size: 25px;
}
.project-desc{
    color: black;
    font-size: 15px;
    margin-top: 10px;
}
#prj-img, #ovr-img{
    width: 50%;
    border-radius: 5px;
}
.ovr-info-box{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.ovr-info-box-under{
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -50px;
}
.ovr-info-txt{
    display: flex;
    width: 33%;
    flex-direction: column;
    align-items: center;
}
.ovr-info{ 
    color: black;
    font-weight: 200;
    font-size: 20px;
    padding-top: 5px;
}
.ovr-info-txt-under{
    display: flex;
    width: 66%;
    flex-direction: column;
    align-items: center;
}
.ovr-info-under{
    font-size: 20px;
}
.ovr-info-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#ovr-img{
    width: 175px;
    border-radius: 5px;
}
.phone-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#phone{
    height: 60px;
}
#e-mail{
    height: 100px;
}
.bg-con{
    width: 100%;
    height: 800px;
    background-color: #fffafa;
    display: flex;
    flex-direction: column;
}
#telefoon, #e_mail{
    display: flex;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
    color: black;
    background-image: linear-gradient(#825fe9, #825fe9);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out, color 0.3s;
}
#telefoon:hover, #e_mail:hover{
    background-size: 100% 0.1em;
}
.contact-box{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact-text{
    color: black;
    justify-content: center;
    margin-bottom: 100px;
}
#contact-r-text{
    display: none;
}