@media only screen and (max-width: 600px) {
  *{
    padding: 0;
    margin: 0;
  }
  body{
    font-family: 'Azeret Mono', monospace;
  }
  nav{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
  }
  .nav-txt{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-around;
  }

  #main-txt{
    color: white;
    text-decoration: none;
  }
  .bg{
    width: 100%;
    height: 800px;
    background-color: #fffafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .namebox{
    width: 20%;
    height: 200px;
    font-size: 25px;
    padding-top: 50px;
    color: black;
  }
  .name{
    font-weight: 100;
  }
  .smallinfo{
    width: 60%;
    height: 200px;
    font-size: 15px;
    color: black;
    background-color: aqua; 
  }
  #smallinfo{
    font-weight: 10px;
    display: flex;
    font-size: 20px;
  }
  #moreinfo{
    display: flex;
    font-weight: 100;
    font-size: 20px;
  }
  .footer{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .email-txt{
    width: 20%;
    height: 20px;
    display: flex;
  }
  .project-title-box{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
  }
  .project-title{
    color: black;
    font-size: 40px;
  }
  .project-box{
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .project-desc-box{
    display: flex;
    width: 100%;
  }
  #prj-img, #ovr-img{
    width: 90%;
    border-radius: 5px;
  }
}